# Project Title: Diwali Sales Analytics

## Project Summary:

The Diwali Sales Analytics project is designed to help businesses understand customer behavior, product performance, and regional sales patterns during the festive season. Using Python and libraries such as pandas, numpy, matplotlib, and seaborn, this project performs detailed data analysis on Diwali sales data to generate actionable insights for marketing, inventory optimization, and sales planning.

##### The analysis focuses on:

### 1. Customer Demographics & Behavior:

    - Understanding purchasing patterns based on age, gender, marital status, and occupation.

    - Identifying repeat and high-value customers to improve targeting strategies.

### 2. Product & Revenue Analysis:

    - Determining top-selling products and high-performing product categories.

    - Analyzing revenue trends, daily sales patterns, and the impact of discounts on sales.

### 3. Regional Sales Patterns:

    - Evaluating state-wise and zone-wise sales performance.

    - Identifying regional preferences for products and categories to optimize stock and marketing.

### 4. Advanced Insights:

    - Segmenting customers for targeted marketing campaigns.

    - Visualizing product performance using heatmaps and trend charts.

    - Forecasting future Diwali sales using historical trends.

## Problem Statment:
During the festive season, businesses witness a surge in customer purchases. Understanding customer behavior, product preferences, and regional sales patterns is crucial to maximize revenue and plan targeted marketing strategies. 
This project analyzes Diwali sales data to uncover: 
- Customer demographics and purchasing behavior (age, gender, marital status, occupation). 
- High-performing product categories and revenue trends. 
- Regional sales patterns across states and zones.

## Objective: 
Provide actionable insights for marketing, inventory optimization, and sales planning during Diwali.


## Outcome:
This project provides businesses with valuable insights to:

- Increase revenue by targeting the right customer segments.

- Optimize inventory management by stocking high-demand products.

- Plan region-specific marketing campaigns based on customer and sales trends.

Technologies Used: Python, Jupyter Notebook, pandas, numpy, matplotlib, seaborn

# Let’s Dive Into Diwali Sales Analytics!
Uncovering Customer Behavior, Product Trends, and Regional Insights During the Festive Season

## 1. Know Your Data

#### Import Libraries

In [8]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Optional: To display plots inline in Jupyter Notebook
%matplotlib inline

# Set seaborn style
sns.set(style="whitegrid")

#### Load Dataset

In [15]:
# Read the CSV file
df = pd.read_csv(r"C:\Users\Prafull Wahatule\Desktop\Diwali Sales Analytics - Pyhton\Data\Diwali Sales Data.csv")

#### Take a Look of data

In [16]:
# Display the first few rows
df.head()

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN

#### Dataset Rows & Columns count

In [17]:
# Dataset Rows & Columns count
df.index

RangeIndex(start=0, stop=11251, step=1)

In [18]:
df.columns

Index(['User_ID', 'Cust_name', 'Product_ID', 'Gender', 'Age Group', 'Age',
       'Marital_Status', 'State', 'Zone', 'Occupation', 'Product_Category',
       'Orders', 'Amount', 'Status', 'unnamed1'],
      dtype='object')

#### Getting Dataset Information

In [19]:
# Dataset Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           11251 non-null  int64
 1   Cust_name         11251 non-null  object
 2   Product_ID        11251 non-null  object
 3   Gender            11251 non-null  object
 4   Age Group         11251 non-null  object
 5   Age               11251 non-null  int64
 6   Marital_Status    11251 non-null  int64
 7   State             11251 non-null  object
 8   Zone              11251 non-null  object
 9   Occupation        11251 non-null  object
 10  Product_Category  11251 non-null  object
 11  Orders            11251 non-null  int64
 12  Amount            11239 non-null  float64
 13  Status            0 non-null      float64
 14  unnamed1          0 non-null      float64
dtypes: float64(3), int64(4), object(8)
memory usage: 1.3+ MB